.asteroid-big, .asteroid-b329-big {
    color: blue;
}

#b325, .asteroid-b326 {
    border: 1px solid green;
    font-weight: bold;
}

.asteroid-b329-big {
    font-weight: bold;
}

.asteroid-big {
    background: yellow;
}

body {
margin-right: 1000px;
}